<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
       <property name="hibernate.connection.password">admin@123</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/rentmanagement</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">true</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
        
        
        <mapping resource="com/fixent/rm/server/hbm/Group.hbm.xml"></mapping>    
        <mapping resource="com/fixent/rm/server/hbm/Shop.hbm.xml"></mapping> 
        <mapping resource="com/fixent/rm/server/hbm/Address.hbm.xml"></mapping> 
        <mapping resource="com/fixent/rm/server/hbm/Scheduler.hbm.xml"></mapping> 
        <mapping resource="com/fixent/rm/server/hbm/Tenant.hbm.xml"></mapping> 
          
        
        
    </session-factory>
</hibernate-configuration>
